<center><h1>Rock, Paper, Scissors, Lizard, Spock</h1>

<% if @winner != 'draw' %>

<h3>You chose <%= @weapon %>. The computer chose <%= @computer %>. <%= @winner %> wins!</h3>

<% else %>
<h3>You chose <%= @weapon %>. The computer chose <%= @computer %>. It's a <%= @winner %>!</h3>

<% end %>

You have won <%= @player_wins %> times.
Computer has won <%= @comp_wins %> times.
<br>

<a href="/game">Wanna play again? </a><br>
<a href="/game_over">No more for me! </a></center>